

.text-box {
    background-color: rgba(0,0,0,0.6);
    padding: 6px;
    text-align: center;
    color: white;
}

.text {
    font-family: 'Roboto', sans-serif;
}

.text.text-big {
    font-size: 50px;
}

.text.bold {
    font-weight: bold;
}
