

.text-box {
    background-color: rgba(0,0,0,0.6);
    padding: 6px;
    text-align: center;
    color: white;
}

.text {
    font-family: 'Roboto', sans-serif;
}

.text.text-big {
    font-size: 22px;
}
.text.text-medium {
    font-size: 16px;
}

.text.bold {
    font-weight: bold;
}

.icon.icon-big {
    width: 20vw;
}
.icon.icon-small {
    width: 12vw;
}