@media only screen and (min-width: 518px) {
    .char-img {
        display: none;
    }

    .char-img_boy, .char-img_girl {
        display: block;
    }

    .bg-image {
        background-image: url(../img/wedding-bg.png);
    }
}
